body{
  background-color: #1C82AD;
  color: white;
}
.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  font-family: Montserrat;
}
.inputDiv{
  border:2px solid white;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}
.inputDiv:hover{
 opacity: 0.8;
}
#fileUpload{
  display: none;
}
#uploadLabelIcon{
  font-size:4em;
  vertical-align:middle;
  cursor: pointer;
}
#uploadLabel{
  font-size: 16px;
  padding-right: 10px;
  cursor: pointer;
}
#uploadLabel:hover{
  text-decoration: underline;
  
}
#generateBtn{
  font-size: 18px;
  margin: 50px;
  cursor: pointer;
  border: 1px solid ;
  border-radius: 5px;
   background-color: #1C82AD;
   font-family: Montserrat;
   color:white;
   font-weight: 500;
}
#generateBtn:hover{
  opacity: 0.8;
}